---
import secondaryFadedBackground from '../assets/secondaryFadedBackground.webp';

---

<section class="py-16 px-10">
    <div class="container-large">
        <div class="grid grid-cols-1   lg:grid-cols-2 gap-10 ">
            <div class="overflow-hidden rounded-2xl w-full max-w-full lg:max-w-[28.375rem]  ">
                <img src={secondaryFadedBackground.src} alt="a faded background, but its secondary"
                        class="w-full h-full object-cover"
                />
            </div>
            <div class="max-w-[32.875rem] flex flex-col gap-4 order-first lg:order-last">
                <p class="text-lg font-medium text-[#00ad75]">
                    Analytics & Reporting
                </p>
                <p class="font-semibold text-4xl">
                    Understand Your Business Like Never Before
                </p>
                <p class="text-lg text-gray-600">
                    Get real-time insights into sales performance, customer behavior, and business growth.
                </p>
            </div>

        </div>
    </div>
</section>