---
import cross from '../assets/icons/cross.svg';
---


<section class="py-28">
    <div class="px-10">
        <div class="container-large flex flex-col gap-16">
            <div class="flex flex-col gap-4 text-center">
                <h2 class="font-medium text-5xl">Frequently Asked Questions</h2>
                <p class="text-xl  text-gray-600">Find quick answers to common questions about Custo.</p>
            </div>
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-y-3 gap-x-10">
                <div class="w-full py-5 flex justify-start gap-3 border-b border-gray-200 ">
                    <img src={cross.src} alt="Arrow" width="20" />
                    <div class="font-medium text-xl">How do I get started with Custo?</div>
                </div>

                <div class="w-full py-5 flex justify-start gap-3 border-b border-gray-200 ">
                    <img src={cross.src} alt="Arrow" width="20" />
                    <div class="font-medium text-xl">How do I get started with Custo?</div>
                </div>

                <div class="w-full py-5 flex justify-start gap-3 border-b border-gray-200 ">
                    <img src={cross.src} alt="Arrow" width="20" />
                    <div class="font-medium text-xl">How do I get started with Custo?</div>
                </div>

                <div class="w-full py-5 flex justify-start gap-3 border-b border-gray-200 ">
                    <img src={cross.src} alt="Arrow" width="20" />
                    <div class="font-medium text-xl">How do I get started with Custo?</div>
                </div>
            </div>
        </div>
    </div>
</section>