---
import custoLogo from '../assets/custo_logo.svg';
import PrimaryButton from './PrimaryButton';
import SecondaryButton from './SecondaryButton';
---


<header class={`w-full h-auto min-h-[5.5rem] px-16 flex items-center absolute z-10` } >
    <div class="w-full max-w-[67rem] h-full flex items-center justify-between gap-10 mx-auto">
        <img src={custoLogo.src} alt="Custo Logo" width="92" height="24" />
        <div class=" justify-between items-center w-full text-sm font-medium hidden md:flex ">
            <nav class="flex gap-4 text-sm">
                <a href="#"
                   class="px-3 py-2 text-black transition-colors ease-in-out duration-100  hover:text-gray-600">About</a>
                <a href="#"
                   class="px-3 py-2 text-black transition-colors ease-in-out duration-100  hover:text-gray-600">Pricing</a>
                <a href="#"
                   class="px-3 py-2 text-black transition-colors ease-in-out duration-100  hover:text-gray-600">Blog</a>
            </nav>
            <div class="flex gap-4 ">
                <SecondaryButton client:load/>
                <PrimaryButton client:load/>
            </div>
        </div>

        <div class={`inline md:hidden relative`}>
            <div class={`flex flex-col w-12 h-12 justify-center items-center`}
            >
                <div class={`border w-6 h-0.5`}/>
                <div class={`border w-6 h-0.5 my-1.5`}/>
                <div class={`border w-6 h-0.5`}/>
            </div>
        </div>

    </div>
</header>