---
import custoLogo from '../assets/custo_logo.svg';
---

<header class="w-full h-auto min-h-[5.5rem] px-16 flex items-center absolute z-10">
    <div class="w-full max-w-[67rem] h-full flex items-center justify-between gap-10 mx-auto">
        <img src={custoLogo.src} alt="Custo Logo" width="92" height="24" fetchpriority="high"/>
        <div class="flex justify-between items-center w-full text-sm font-medium">
            <nav class="flex gap-4 text-sm">
                <a href="#" class="px-3 py-2 text-black transition-colors ease-in-out duration-100  hover:text-gray-600">About</a>
                <a href="#" class="px-3 py-2 text-black transition-colors ease-in-out duration-100  hover:text-gray-600">Pricing</a>
                <a href="#" class="px-3 py-2 text-black transition-colors ease-in-out duration-100  hover:text-gray-600">Blog</a>
            </nav>
            <div class="flex gap-4 ">
                <a class="px-6 py-3  rounded-full bg-white hover:bg-gray-200"> Contact Sales </a>
                <a class="px-6 py-3  rounded-full text-white  bg-gradient-to-b from-gray-950 from-[40%] to-[#6d7a97] hover:from-[#6d7a97] hover:from-[5%] hover:to-gray-950 text-md font-medium">
                    Start for Free
                </a>
            </div>
        </div>
    </div>
</header>