---
import custoBackground from '../assets/custo_background.webp';
import dashboard from '../assets/dashboard.webp';
import window from '../assets/window.webp';
import arrow from '../assets/icons/arrow.svg';
---


<section class="rounded-2xl overflow-hidden">

    <img src={custoBackground.src} alt="" fetchpriority="high"
         class="absolute max-h-[61.8125rem] w-full object-contain" />


    <div class="pt-[9.5rem] min-h-screen bg-[linear-gradient(180deg,#e1f7ed,#e1f7ed_50%,#e1f7ed00_96.9%)]">
        <div class="absolute inset-0">
            <div class="blur-[100px] h-10/12 inset-0 bg-[linear-gradient(270deg,#0000,#6bf4c7_48%,#0000)]"/>
        </div>
        <div class="px-10">
            <div class="container-large">
                <div class="relative w-full flex flex-col justify-start items-stretch gap-12">
                    <div class="flex flex-col justify-start items-stretch gap-8">
                        <div class="flex justify-center ">
                            <a class="rounded-full ">
                                <div class="py-2 px-4 flex justify-center gap-2">
                                    <div class="text-xs font-medium">Introducing Custo</div>
                                    <img src={arrow.src}
                                         class="invert rotate-45"
                                         alt="Arrow" width="12" height="12" />
                                </div>
                            </a>
                        </div>
                        <div class="max-w-[42.5rem] mx-auto text-center flex flex-col gap-4">
                            <h1 class="text-6xl font-semibold leading-tight">
                                Powerful CRM Solutions for Growing Businesses
                            </h1>
                            <p class="text-gray-600 text-xl font-medium">
                                Streamline your customer relationships with an intuitive CRM platform. Optimize workflows, and drive business growth with ease.
                            </p>
                        </div>
                        <div class="flex justify-center ">
                            <a class="px-6 py-3 rounded-full text-white  bg-gradient-to-b from-gray-950 from-[40%] to-[#6d7a97] hover:from-[#6d7a97] hover:from-[5%] hover:to-gray-950 text-md font-medium">
                                Start for Free
                            </a>
                        </div>
                    </div>

                    <div>
                        rate
                    </div>

                    <div class="relative h-full">
                        <img src={dashboard.src} alt="Custo Dashboard" fetchpriority="high"
                             class="w-full h-full shadow-[0_-8px_20px_#0000000a]"/>
                        <img src={window.src} alt="Custo Window" fetchpriority="high"
                             class="max-w-56 absolute right-[-5%] bottom-[20%]"/>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>


