---


---


<section class="py-[4rem] px-10">
    <div class="container-large">
        <div class="grid grid-cols-1 sm:grid-cols-3 gap-10 stats-animate">
            <div class="py-10 flex flex-col gap-5 text-center border-b border-[#e3e8ef]">
                <p class="text-[2.5rem] font-medium text-[#00ad75]">
                    10K+
                </p>
                <div class="flex flex-col gap-2">
                    <p class="text-2xl font-medium">
                        Users Worldwide
                    </p>
                    <p class="text-sm text-gray-600">
                        Businesses trust Custo to streamline sales and manage customer relationships.
                    </p>
                </div>
            </div>

            <div class="py-10 flex flex-col gap-5 text-center border-b border-[#e3e8ef]">
                <p class="text-[2.5rem] font-medium text-[#00ad75]">
                    30%
                </p>
                <div class="flex flex-col gap-2">
                    <p class="text-2xl font-medium">
                        Faster Sales Cycles
                    </p>
                    <p class="text-sm text-gray-600">
                        Optimize your sales process and close deals more efficiently with automated workflows.
                    </p>
                </div>
            </div>

            <div class="py-10 flex flex-col gap-5 text-center border-b border-[#e3e8ef]">
                <p class="text-[2.5rem] font-medium text-[#00ad75]">
                    $1B
                </p>
                <div class="flex flex-col gap-2">
                    <p class="text-2xl font-medium">
                        in Deals Closed
                    </p>
                    <p class="text-sm text-gray-600">
                        Track high-value opportunities and drive revenue growth effortlessly.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<script>

    import { animate, inView } from "motion";

    inView(".stats-animate > div", (el) => {
        animate(
            el,
            { opacity: [0, 1], y: [-100, 0] },
            { duration: 1, easing: "easeInOut" }
        );
    });

</script>